@font-face {
  font-family: ultra;
  src: url(./assets/font/Roboto-Regular.ttf);
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: ultra;
}

.app{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.pages-container{
  flex: 1;
  padding: 18px 30px;
  overflow: hidden;
}